body {
	 font-family: 'Poppins';
}
[x-cloak]{ display: none;}

/* ----- Scrollbar ------ */
.scroll-sm::-webkit-scrollbar {
	 width: 6px;
	 height: 6px;
  }
.scroll::-webkit-scrollbar {
width: 8px;
height: 8px;
}
.scroll-lg::-webkit-scrollbar {
width: 10px;
height: 10px;
}
.scroll-sm::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.scroll-lg::-webkit-scrollbar-thumb{
background: #06060652; 
}
.scroll-sm::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track,
.scroll-lg::-webkit-scrollbar-track{
background: #00000025; 
}


.splide__track--nav>.splide__list>.splide__slide {
	cursor: pointer;
	opacity: .5;
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
	opacity: 1;
	border:12px solid black;
	border-top: 0;
	border-bottom: 12px solid black;
	
}
.splide__track--nav>.splide__list>.splide__slide.is-active h5 {
	color: white;
	background-color: black;
}
			